[Unit]
Description=Catalogue Service
After=network.target

[Service]
User=roboshop
WorkingDirectory=/app
Environment=MONGO=true
Environment=MONGO_URL="mongodb://mongodb.blackweb.agency:27017/catalogue"
ExecStart=/bin/node /app/server.js
Restart=always
RestartSec=5
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target
